

.z1{
    width: 100%;
    padding: 100px 0px;
    background-color: #59ab6e !important;
    display: flex;
    justify-content: center;
}

.z1-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.z1d1{
    width: 77%;
}
.z1d2{
    width: 21%;
}

.z1d1ver1{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: #fff!important;
    font-family: 'Roboto', sans-serif;
}

.z1d1p1{
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: white;
}

.z1d2img1{
    width: 100%;
}

.z2{
    width: 100%;
    padding: 70px 0px;
}

.z2ver1{
    font-family: 'Roboto', sans-serif;
    font-size: 48px !important;
    font-weight: 200 !important;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: #212529;
    text-align: center!important;
}

.z2p1{
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important;
    margin-bottom: 1rem;
    text-align: center!important;
    line-height: 1.5;
    color: #212529;
    margin-top: 20px;
    width: 35%;
}

.z2-1{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}



@media only screen and (min-width: 180px) and (max-width: 800px)  {
    .z1-1{
        width: 80%;
        display: block;
    }
    .z1d1{
        width: 100%;

    }
    .z1d2{
        width: 100%;
         margin-top: 30px;
    }
    .z2p1{
        width: 80%;
    }
    .z2-1{
        width: 80%;
        display: block;
    }
}