@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lsykjn');
  src:  url('fonts/icomoon.eot?lsykjn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lsykjn') format('truetype'),
    url('fonts/icomoon.woff?lsykjn') format('woff'),
    url('fonts/icomoon.svg?lsykjn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e93a";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-point-left:before {
  content: "\ea06";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-tab:before {
  content: "\ea45";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
